
.n_product-banner{
  width: 100%;
  height: 605px;
  background: url(../rsr_images/n_banner_financial_advice.jpg) no-repeat center center;
  background-size: cover;
}

.n_product{
  width: 100%;
  height: 637px;
  padding-top: 102px;
  background: url(../rsr_images/n_banner_financial_advice-p1.jpg) no-repeat center center;
  background-size: cover;
}

.w1200{
  width: 1200px;
  margin: 0 auto;
}

.n_common-title_wrap{
  text-align: center;
}

.n_common-title{
  font-size:42px;
  font-weight:bold;
  color: #141718;
  line-height: 1;
  margin-bottom: 20px;
}

.n_common-subtitle{
  font-size:24px;
  font-weight:normal;
  color:#141718;
  line-height: 1;
}

.n_common-subtitle:before{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-right: 15px;
  background: url(../rsr_images/icon/n_icon-black-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-subtitle:after{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-left: 15px;
  background: url(../rsr_images/icon/n_icon-black-r.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-title{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle:before{
  background: url(../rsr_images/icon/n_icon-white-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-subtitle:after{
  background: url(../rsr_images/icon/n_icon-white-r.png) no-repeat center center;
  background-size: cover;
}

.n_fa-1{
  height: 267px;
}

.n_fa-1-in{
  height: 600px;
  border-radius:10px;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
  top: -450px;
  background: #fff;
  padding-left: 62px;
  padding-right: 62px;
}

.n_fa-1-in_item{
  height: 150px;
  line-height: 150px;
  border-bottom: 1px solid #EBEBEB;
}

.n_fa-1-in_item img{
  width: 38px;
  height: 38px;
  margin-right: 30px;
  vertical-align: middle;
}

.n_fa-1-in_item-txt{
  font-size:30px;
  /* font-weight:bold; */
  color: #000;
  display: inline-block;
  vertical-align: middle;
}

.n_fa-2{
  padding-top: 108px;
  height: 427px;
  background: url(../rsr_images/n_banner_financial_advice-p2.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.n_fa-2-title{
  font-size:60px;
  font-weight:bold;
  color: #E37321;
  line-height: 1;
  padding-bottom: 55px;
}

.n_fa-2-line{
  width:61px;
  height:5px;
  background:rgba(255,255,255,1);
  margin: 0 auto;
  margin-bottom: 70px;
}

.n_fa-2-msg{
  font-size:22px;
  color: #fff;
  line-height: 50px;
}

.n_pro-goodness{
  height: 1161px;
  padding-top: 100px;
  background: #F8F8F8;
}

.n_pro-g_pannel{
  padding-top: 107px;
  text-align: center;
}

.n_pro-g_pannel-i{
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 573px;
  height: 413px;
  background: #fff;
  border-radius:10px;
  box-shadow: 0px 0px 10px #ccc;
}

.n_pro-g_pannel-i:nth-child(even){
  margin-right: 0px;
}

.n_pro-g_pannel-i-1{
  width: 81px;
  height: 77px;
  margin-top: 56px;
  margin-bottom: 44px;
}

.n_pro-g_pannel-i-2{
  width: 60px;
  height: 83px;
  margin-top: 54px;
  margin-bottom: 39px;
}

.n_pro-g_pannel-i-3{
  width: 78px;
  height: 81px;
  margin-top: 55px;
  margin-bottom: 41px;
}

.n_pro-g_pannel-i-4{
  width: 81px;
  height: 81px;
  margin-top: 53px;
  margin-bottom: 43px;
}

.n_pro-g_pannel-i_title{
  font-size:36px;
  color: #000;
  line-height: 1;
  padding-bottom: 37px;
  font-weight: bold;
}

.n_pro-g_pannel-i_txt{
  font-size:22px;
  line-height:36px;
  color: #000;
}

.n_pro-g_pannel-i:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

