.login_bg{
    background: #f4f8f9;
    padding-top: 110px;
    padding-bottom: 253px;
    width: 100%;
    height: auto;
}

.main {
    width: 490px;
    height: 400px;
    margin: 0 auto;
    background: #ffffff;
    -moz-box-shadow:0px 0px 10px #f0f1f3, 2px 2px 5px #f0f1f3;
    -webkit-box-shadow:0px 0px 10px #f0f1f3, 2px 2px 5px #f0f1f3;
    -o-box-shadow:0px 0px 10px #f0f1f3, 2px 2px 5px #f0f1f3;
    -ms-box-shadow:0px 0px 10px #f0f1f3, 2px 2px 5px #f0f1f3;
    box-shadow:0px 0px 10px #f0f1f3, 2px 2px 5px #f0f1f3;
}

.main .logInfo {
    width: 380px;
    height: 400px;
    margin: 0 auto;
}
.main .logInfo div.on{
    display: block;
}
/*-- 蹇嵎鐧诲綍 --*/

.main .logInfo .PhoneBox {
    padding-top: 44px;
}

.main .logInfo .titleBox {
    padding-top: 38px;
}

.main .logInfo .titleBox li {
    float: left;
    width: 190px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #323232;
}

.main .logInfo .titleBox li.on {
    border-bottom: 2px solid #3fbafd;
    color: #3fbafd;
}

.PhoneBox {
    display: none;
}

.PhoneBox .phone {
    position: relative;
    width: 100%;
}

.PhoneBox .phone .phoneInput {
    width: 340px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 38px;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

.PhoneBox .phone .min_icon, .authCode .min_icon {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 19px;
    height: 26px;
    background: url("../rsr_images/icons.png") no-repeat -292px -36px;
}

.hint, .authCodeHint {
    height: 20px;
    line-height: 20px;
    color: #f9642a;
}

.PhoneBox .authCode {
    position: relative;
    padding-top: 10px;
}

.PhoneBox .authCode .min_icon {
    width: 25px;
    height: 25px;
    left: 10px;
    top: 24px;
    background: url("../rsr_images/icons.png") no-repeat -292px -81px;
}

.PhoneBox .authCode .phoneInput {
    float: left;
    width: 178px;
    height: 48px;
    padding-left: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

.PhoneBox .authCode .getAuthCode {
    float: left;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #4ec0ff;
    cursor: pointer;
    background: #fff;
    font-family: "Microsoft YaHei";
}

.PhoneBox .btn, .commonBox .btn {
    margin-top: 58px;
    width: 380px;
    height: 50px;
    background: #3fbafd;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

.commonBox .btn {
    margin-top: 27px;
    cursor: pointer;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

/*-- 鏅�鐧诲綍 --*/

.commonBox {
    padding-top: 44px;
    display: none;
}

.commonBox .commonPhone {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.commonPhone .commonInput {
    width: 340px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 38px;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

.commonPhone .icon_min, .commonPassword .icon_min {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 19px;
    height: 26px;
    background: url("../rsr_images/icons.png") no-repeat -292px -36px;
}

.commonBox .commonPassword {
    position: relative;
    width: 100%;
}

.commonPassword .passwordInput {
    width: 340px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 38px;
    font-family: "Microsoft YaHei", 寰蒋闆呴粦;
}

.commonPassword .icon_min {
    background: url("../rsr_images/icons.png") no-repeat -292px -124px;
}

.commonBox .readMe {
    font-size: 14px;
    color: #7f7f81;
}

.commonBox .readMe input {
    width: 18px;
    height: 18px;
    margin-top: 13px;
    vertical-align: -4px;
    border: 1px solid #817777;
    margin-right: 8px;
}

.linkBox {
    height: 38px;
    line-height: 38px;
}

.linkBox a:nth-child(1) {
    float: left;
    font-size: 14px;
    color: #3dbafc;
}

.linkBox a:nth-child(2) {
    float: right;
    font-size: 14px;
    color: #9c9c9e;
}


.login_box{
     height:120px;
     width: 100%;
     background: url("../rsr_images/hcm.png") no-repeat center #2d3137;
 }
.w1002{
    width:1002px;
    margin: 0 auto;
}
.login_tt h2{
    text-align: center;
    font-size: 30px;
    font-size: 24px;
    color: #fff;
    line-height: 120px;
    letter-spacing: 1px;
}