.w1002{
    width: 1002px;
    margin: 0 auto;
}
.select_about{
    color: #ff7b17!important;
}
.rsr_about2{
    color: #ff7b17!important;
}
/*媒体报道banner*/
.about_con{
    height: 500px;
    background: url("../rsr_images/banner_about.png") no-repeat center #414557;
}
.gy_con{
    text-align: left;
    padding-top: 115px;
}
.gy_top{
    padding-left: 235px;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
}
.gy_top em{
    font-size: 60px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 5px;
}
.about_ms{
    text-align: center;
    color: #fff;
    padding-top: 98px;
    font-size: 24px;
}
/*二级栏目*/
.sub_nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f7;
}
.sub_list a{
    width: 250px;
    text-align: center;
    color: #f00;
    display: inline-block;
    float: left;
    font-size: 16px;
    color: #78909c;
}
.sub_list a:hover{
    color: #e97700;
}
.sub_list a.on{
    color: #e97700;
    background: #fff;
}

/*媒体报道*/
.crumbs{
    padding-top: 42px;
    font-size: 14px;
    color: #7e7f83;
    text-align: right;
    border-bottom: 1px dotted #5e5f64;
    padding-bottom: 10px;
    overflow: hidden;
}
.crumbs a{
    color: #7e7f83;
    margin: 0px 5px;
}
.crumbs a:hover{
    color: #e97700;
}
.media_con{
    padding-bottom: 26px;
}
.media_tt{
    padding-top: 10px;
}
.media_tt h2{
    color:#282828;
    font-size: 20px;
    width: 680px;
    float: left;
    font-weight: normal;
    line-height: 28px;
    padding-top: 10px;
}
.media_tt span{
    font-size: 14px;
    vertical-align: bottom;
    float: right;
    height: 45px;
    line-height: 50px;
    padding-right: 40px;
}
.media_tt a{
    color: #ed751a;
    margin-right: 20px;
    font-size: 12px;
}
.media_tt span i{
    color: #656565;
    font-size: 14px;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1px;
}
.rsr_article{
    padding-bottom: 30px;
}
.rsr_article p{
    color: #656565;
    font-size: 14px;
    text-indent: 2em;
    line-height: 29px;
    padding: 10px 0;
    letter-spacing: 1px;
}
.rsr_article p img{
    margin: 0 auto;
    max-width: 100%;
}
.pic{
    text-align: center;
}
.rsr_ms{
    padding: 20px 40px;
    background: #f6f6f6;

}
.rsr_ms p{
    font-size: 12px;
    color: #656565;
    line-height: 22px;
    letter-spacing: 0.6px;
}
.ar_siblings{
   padding-top: 23px;
}
.ar_siblings ul li{
    width: 980px;
    padding-left: 20px;
    border: 1px solid #e8e8e8;
    line-height: 48px;
    color: #ed751a;
    font-size: 15px;
    margin-bottom: 10px;
}
.ar_siblings ul li a{
    color: #282828;
    margin-left: 12px;
}
.ar_siblings ul li a:hover{
    color: #282828;
}