
.n_product-banner{
  width: 100%;
  height: 605px;
  background: url(../rsr_images/n_banner_RPO.jpg) no-repeat center center;
  background-size: cover;
}

.n_product{
  width: 100%;
  height: 350px;
  padding-top: 102px;
  background: url(../rsr_images/n_rpo-product-info.png) no-repeat center center;
  background-size: cover;
}

.w1200{
  width: 1200px;
  margin: 0 auto;
}

.n_common-title_wrap{
  text-align: center;
}

.n_common-title{
  font-size:42px;
  font-weight:bold;
  color: #141718;
  line-height: 1;
  margin-bottom: 20px;
}

.n_common-subtitle{
  font-size:24px;
  font-weight:normal;
  color:#141718;
  line-height: 1;
}

.n_common-subtitle:before{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-right: 15px;
  background: url(../rsr_images/icon/n_icon-black-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-subtitle:after{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-left: 15px;
  background: url(../rsr_images/icon/n_icon-black-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-title{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle:before{
  background: url(../rsr_images/icon/n_icon-white-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-subtitle:after{
  background: url(../rsr_images/icon/n_icon-white-r.png) no-repeat center center;
  background-size: cover;
}

.n_product-msg{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 62px;
  font-size:16px;
  font-weight:normal;
  color: #000;
  line-height:30px;
  text-indent: 2em;
  letter-spacing: 2px;
}

.n_pro-goodness{
  height: 913px;
  padding-top: 95px;
  background: #fff;
}

.n_pro-g_pannel{
  padding-top: 110px;
}

.n_pro-g_pannel-item{
  float: left;
  text-align: center;
  width: 300px;
  margin-right: 150px;
}

.n_pro-g_pannel-t .n_pro-g_pannel-item:last-child{
  margin-right: 0px;
}

.n_pro-g_pannel-item_pic-wrap{
  /* width: 128px; */
  height: 128px;
  margin-bottom: 32px;
  text-align: center;
}

.n_pro-g_pannel-item_pic{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  
}

.n_pro-g_pannel-item-txt{
  font-size:23px;
  font-weight:bold;
  line-height:38px;
  color: #000;
}

.n_pro-g_pannel-b{
  width: 750px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.n_pro-g_pannel-b .n_pro-g_pannel-item:last-child{
  margin-right: 0px;
}

.n_pro-service{
  padding-top: 85px;
  width: 100%;
  height: 645px;
  background: url(../rsr_images/n_rpo-service_cover.png) no-repeat center center;
  background-size: cover;
}

.n_pro-service_sel-pannel{
  padding-top: 100px;
}

.n_pro-service_sel-wrap{
  height: 220px;
  border-bottom: 3px solid #FA964D;
}

.n_pro-service_sel-item{
  display: inline-block;
  width: 296px;
  text-align: center;
}

.n_pro-service_sel-item:hover{
  cursor: pointer;
}

.n_pro-service_sel-item_pic1{
  width: 72px;
  height: 76px;
}

.n_pro-service_sel-item_pic2{
  width: 79px;
  height: 79px;
}

.n_pro-service_sel-item_pic3{
  width: 81px;
  height: 81px;
}

.n_pro-service_sel-item_pic4{
  width: 69px;
  height: 81px;
}

.n_pro-service_sel-item_txt{
  font-size:30px;
  font-weight:normal;
  color: #fff;
  line-height: 1;
  padding-top: 42px;
  padding-bottom: 50px;
}

.n_pro-service_sel-item_arrow{
  width:0;
  height:0;
	border-right:16px solid transparent;
	border-left:16px solid transparent;
	border-bottom:16px solid #FA964D;
  display: inline-block;
  visibility: hidden;
}

.n_pro-service_sel-item_arrow.active{
  visibility: visible;
}

.n_pro-service_sel-res{
  padding-top: 56px;
  font-size:18px;
  font-weight:bold;
  color: #E8E7E8;
  line-height:42px;
}

.n_pro-service_sel-res_item{
  display: none;
}

.n_pro-service_sel-res_item.active{
  display: block;
}

.n_pro-service_sel-res_item-txt{
  position: relative;
  padding-left: 34px;
}

.n_pro-service_sel-res_item-txt:before{
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: #E8E7E8;
  left: 8px;
  top: 50%;
  margin-top: -2px;
}

.n_pro-two-1{
  width: 100%;
  padding-top: 110px;
  height: 666px;
  background: url(../rsr_images/n_rpo-two-1.png) no-repeat center center;
  background-size: cover;
}

.n_pro-two-1_title-wrap{
  padding-bottom: 53px;
  font-size:46px;
  font-weight:bold;
  line-height: 1;
  color: #333;
}

.n_pro-two-1_title{
  margin-right: 34px;
  display: inline-block;
  vertical-align: middle;
}

.n_pro-two-1_title-icon{
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.n_pro-two-1_subtitle{
  font-size:36px;
  font-weight:bold;
  line-height:52px;
  color: #333;
  padding-bottom: 72px;
}

.n_pro-two-1_item-title{
  font-size:30px;
  font-weight:bold;
  color: #333;
  position: relative;
  padding-left: 20px;
  line-height: 1;
  margin-bottom: 34px;
}

.n_pro-two-1_item-title:before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.n_pro-two-1_item-points{
  font-size:20px;
  font-weight:bold;
  line-height:36px;
  color: #666;
  margin-bottom: 52px;
}

.n_pro-two-1_item-point{
  float: left;
  margin-right:104px;
}

.n_pro-two-2{
  width: 100%;
  padding-top: 120px;
  height: 544px;
  background: #fff;
}

.n_pro-two-2_l{
  float: left;
  margin-right: 130px;
}

.n_pro-two-2_l-item{
  margin-bottom: 50px;
}

.n_pro-two-2_item-point{
  font-size:20px;
  font-weight:bold;
  color: #666;
  line-height:36px;
}

.n_pro-two-2_r{
  float: left;
}

.n_pro-two-2_r-title-wrap{
  font-size:46px;
  line-height: 1;
  font-weight:bold;
}

.n_pro-two-2_r-title{
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.n_pro-two-2_r-title-icon{
  width: 63px;
  height: 52px;
  vertical-align: middle;
}

.n_pro-two-2_r_subtitle{
  padding-top: 50px;
  font-size:36px;
  font-weight:bold;
  color: #333;
  line-height:52px;
  width: 532px;
}













