
.n_product-banner{
  width: 100%;
  height: 605px;
  background: url(../rsr_images/n_banner_zs-platform.png) no-repeat center center;
  background-size: cover;
}

.n_product{
  width: 100%;
  height: 563px;
  padding-top: 102px;
}

.w1200{
  width: 1200px;
  margin: 0 auto;
}

.n_common-title_wrap{
  text-align: center;
}

.n_common-title{
  font-size:42px;
  font-weight:bold;
  color: #141718;
  line-height: 1;
  margin-bottom: 20px;
}

.n_common-subtitle{
  font-size:24px;
  font-weight:normal;
  color:#141718;
  line-height: 1;
}

.n_common-subtitle:before{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-right: 15px;
  background: url(../rsr_images/icon/n_icon-black-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-subtitle:after{
  content: '';
  display: inline-block;
  width: 46px;
  height: 13px;
  margin-left: 15px;
  background: url(../rsr_images/icon/n_icon-black-r.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-title{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle{
  color: #fff;
}

.n_common-title_wrap-white .n_common-subtitle:before{
  background: url(../rsr_images/icon/n_icon-white-l.png) no-repeat center center;
  background-size: cover;
}

.n_common-title_wrap-white .n_common-subtitle:after{
  background: url(../rsr_images/icon/n_icon-white-r.png) no-repeat center center;
  background-size: cover;
}

.n_pro-msg-pannel{
  padding-top: 78px;
  margin: 0 auto;
  width: 1010px;
}

.n_pro-msg-pannel-item{
  float: left;
  width: 174px;
  text-align: center;
  margin-right: 90px;
}

.n_pro-msg-pannel .n_pro-msg-pannel-item:last-child{
  margin-right: 0px;
}

.n_pro-msg-pannel-item img{
  width: 174px;
  height: 174px;
  margin-bottom: 30px;
}

.n_pro-msg-pannel-item span{
  display: block;
  text-align: center;
  font-size:28px;
  line-height:38px;
  color: #141718;
  width: 252px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.n_pro-goodness{
  height: 941px;
  padding-top: 100px;
  background: #F8F8F8;
}

.n_pro-g_pannel{
  padding-top: 88px;
  text-align: center;
}

/* TODO */
.n_pro-g_pannel-pic{

}


.n_pro-service{
  padding-top: 98px;
  width: 100%;
  height: 697px;
  background: #fff;
}

.n_pro-service_sel-pannel{
  padding-top: 103px;
}

.n-item{
  float: left;
  width: 372px;
  height: 400px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius:10px;
  background: #fff;
  margin-right: 30px;
  text-align: center;
}

.n_pro-service_sel-pannel .n-item:last-child{
  margin-right: 0px;
}

.n-item-p1{
  width: 90px;
  height: 80px;
  margin-top: 52px;
  margin-bottom: 46px;
}

.n-item-title{
  line-height: 1;
  font-size:34px;
  color: #000000;
  padding-bottom: 37px;
  font-weight: bold;
}

.n-item-p{
  font-size:22px;
  color: #000;
}

.n-item-p2{
  margin-top: 48px;
  margin-bottom: 44px;
  width: 87px;
  height: 87px;
}

.n-item-p3{
  margin-top: 53px;
  margin-bottom: 48px;
  width: 70px;
  height: 78px;
}


.n_pro-msg-pannel-item:hover{
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.n-item:hover{
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}






